In [5]:
!pip install numpy
!pip install pandas
!pip install os

Collecting numpy
  Using cached numpy-2.1.2-cp312-cp312-win_amd64.whl.metadata (59 kB)
Using cached numpy-2.1.2-cp312-cp312-win_amd64.whl (12.6 MB)
Installing collected packages: numpy
Successfully installed numpy-2.1.2
Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\megha\titanicml\.venv\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\megha\titanicml\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\megha\titanicml\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

In [6]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [8]:
train_data = pd.read_csv("C:\\Users\\megha\\TitanicML\\train.csv")
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
test_data = pd.read_csv("C:\\Users\\megha\\TitanicML\\test.csv")
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [18]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl.metadata (13 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\megha\titanicml\.venv\lib\site-packages (from scikit-learn) (2.1.2)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.5.2-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ------- -------------------------------- 2.1/11.0 MB 13.1 MB/s eta 0:00:01
   ------------ --------------------------- 3.4/11.0 MB 9.1 MB/s eta 0:00:01
   ---------------- ----------------------- 4.5/11.0 MB 7.3 MB/s eta 0:00:01
   ---------------------- ----------------- 6.3/11.0 MB 7.6 MB/s eta 0:00:01
   ------------------------- -------------- 7.1/11.0 MB 6.9 MB/s eta 0:00:01
   ----------------------------- ---------- 8.1/11.0 MB 6.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 6.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.2/11.0 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 6.0 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 5.8 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.14.1-cp312-cp312-win_amd64.whl (44.5 MB)
   ---------------------------------------- 0.0/44.5 MB ? eta -:--:--
    --------------------------------------- 0.8/44.5 MB 4.8 MB/s eta 0:00:10
   - -------------------------------------- 2.1/44.5 MB 4.9 MB/s eta 0:00:09
   -- ------------------------------------- 3.1/44.5 MB 5.3 MB/s eta 0:00:08
   ---- ----------------------------------- 4.5/44.5 MB 5.5 MB/s eta 0:00:08
   ----- ---------------------------------- 6.0/44.5 MB 5.8 MB/s eta 0:00:07
   ------ --------------------------------- 7.6/44.5 MB 5.9 MB/s eta 0:00:07
   -------- ------------------------------- 8.9/44.5 MB 6.2 MB/s eta 0:00:06
   --------- ------------------------------ 10.5/44.5 MB 6.2 MB/s eta 0:00:06
   ---------- ----------------------------- 11.5/44.5 MB 6.2 MB/s eta 0:00:06
   ----------- ---------------------------- 12.8/44.5 MB 6.1 MB/s eta 0:00:06
   ------------ --------------------------- 13.9/44.5 MB 6.0 MB/s eta 0:00:06
   ------------- -------------------------- 14.9/44.5 MB 5.9 MB/s eta 0:00:05
   -------------- ------------------------- 16.0/44.5 MB 5.9 MB/s eta 0:00:05
   --------------- ------------------------ 17.3/44.5 MB 5.9 MB/s eta 0:00:05
   ---------------- ----------------------- 18.6/44.5 MB 5.9 MB/s eta 0:00:05
   ------------------ --------------------- 20.2/44.5 MB 6.0 MB/s eta 0:00:05
   ------------------- -------------------- 21.8/44.5 MB 6.1 MB/s eta 0:00:04
   -------------------- ------------------- 23.1/44.5 MB 6.1 MB/s eta 0:00:04
   --------------------- ------------------ 23.9/44.5 MB 6.0 MB/s eta 0:00:04
   ---------------------- ----------------- 24.6/44.5 MB 5.9 MB/s eta 0:00:04
   ----------------------- ---------------- 25.7/44.5 MB 5.9 MB/s eta 0:00:04
   ------------------------ --------------- 26.7/44.5 MB 5.8 MB/s eta 0:00:04
   ------------------------ --------------- 27.8/44.5 MB 5.8 MB/s eta 0:00:03
   -------------------------- ------------- 29.1/44.5 MB 5.8 MB/s eta 0:00:03
   --------------------------- ------------ 30.4/44.5 MB 5.8 MB/s eta 0:00:03
   ---------------------------- ----------- 31.7/44.5 MB 5.8 MB/s eta 0:00:03
   ----------------------------- ---------- 33.0/44.5 MB 5.8 MB/s eta 0:00:02
   ------------------------------- -------- 34.6/44.5 MB 5.9 MB/s eta 0:00:02
   -------------------------------- ------- 36.2/44.5 MB 5.9 MB/s eta 0:00:02
   --------------------------------- ------ 37.5/44.5 MB 5.9 MB/s eta 0:00:02
   ---------------------------------- ----- 38.8/44.5 MB 5.9 MB/s eta 0:00:01
   ----------------------------------- ---- 39.8/44.5 MB 5.9 MB/s eta 0:00:01
   ------------------------------------ --- 41.2/44.5 MB 5.9 MB/s eta 0:00:01
   -------------------------------------- - 42.5/44.5 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  43.5/44.5 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------  44.3/44.5 MB 5.9 MB/s eta 0:00:01
   ---------------------------------------- 44.5/44.5 MB 5.8 MB/s eta 0:00:00
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.5.2 scipy-1.14.1 threadpoolctl-3.5.0

In [19]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!